/* Write your CSS here */
.destination-icon {
  height: 235px;
  width: 250px;
  border-radius: 10px;
}
.app-container {
  list-style-type: none;
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}
.destination {
  font-size: 18px;
  font-weight: 500;
  color: #252627;
}
